@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

:root {
    --Magenta: hsl(300, 43%, 22%);
    --Pink: hsl(333, 80%, 67%);
    --darkGrayish: hsl(303, 10%, 53%);
    --lightGrayish: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--White);
    font-size: 15px;
    padding: 25px;
    font-family: 'League Spartan', sans-serif;
}


.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 60px;
}


.header, .side {
    flex-basis: 50%;
    max-width: 375px;
}


h1,h4 {
    color: var(--Magenta);
}

h1 {
    font-size: 2.50em;
    font-weight: 700;
    margin-bottom: 25px;
}

.header p {
    color: var(--darkGrayish);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
}

.rate {
    padding: 20px;
    background-color: var(--lightGrayish);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 375px;
    margin-bottom: 20px;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
}

.rate:nth-child(2) {
    margin-left: -50px;
}
.rate:nth-child(1) {
    margin-left: -100px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    gap: 25px;
    position: relative;
}

.col {
    color: var(--White);
    background-color: var(--Magenta);
    padding: 35px 20px;
    border-radius: 8px;
    position: relative;
    box-shadow: rgba(88, 88, 88, 1) 0px 3px 8px;
}

.col:nth-child(2) {
    top: 30px;
}

.col:nth-child(3) {
    top: 60px;
}

.col .head {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 30px;
}

.col h4 {
    color: var(--Pink);
    font-weight: 500;
    margin-top: 6px;
}

.col img {
    width: 50px;
    border-radius: 50%;
}

.col p {
    line-height: 1.6;
}



@media (max-width: 769px) {
    
    .rate:nth-child(2) {
        margin-left: auto;
    }

    .rate:nth-child(1) {
        margin-left: auto;
    }

    .col:nth-child(2) {
        top: 0px;
    }
    
    .col:nth-child(3) {
        top: 0px;
    }
}




@media (max-width: 426px) {

    .content {
        flex-direction: column;
        text-align: center;
    }

    .rate {
        flex-direction: column;
    }

}

@media (max-width: 376px) {
    .header, .side {
        width: 330px;
    }

    .rate {
        width: 330px;
    }
}